<% provide(:title, "About") %>

<h1>About</h1>

<p>The iLike application is being developed as part of the <a href="http://www.ccs.neu.edu/course/cs5500f15/">CS 5500 - Managing Software Development</a> course at <a href="http://www.northeastern.edu/">Northeastern University</a>.</p>

<p>Developed by:</p>
<ul>
  <li><a href="https://github.ccs.neu.edu/shivac">Shiva Chaturvedi</a></li>
  <li><a href="https://github.ccs.neu.edu/ana">Ana Luiza Cunha</a></li>
  <li><a href="https://github.ccs.neu.edu/nhrshm10">Niharika Sharma</a></li>
  <li><a href="https://github.ccs.neu.edu/apsmith">Adam Smith</a></li>
</ul>