<% provide(:title, full_name(@user)) %>

<div id="user-profile-info" class="well">
  <div class="row">
    <div class="col-md-4"></div>
     <div class="col-md-4">
       <h1 style="text-align: center;"><%= full_name(@user) %></h1>
     </div>
     <div class="col-md-4"></div>
  </div>
  <div class="row" style="margin-bottom: 2em;">
    <div class="col-md-4"></div>
     <div class="col-md-4" style="text-align: center;">
       <%= gravatar_for @user %>  
     </div>
     <div class="col-md-4"></div>
  </div>
  <div class="row" style="clear: both;">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <h3>Preferred Categories</h3>
      <ul>
        <% @user.categories.each do |pref| %>
          <li><%= pref.name %></li>
        <% end %>
        </ul>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>