<footer class="footer">
  <small>
    The iLike App by <a href="https://github.ccs.neu.edu/shivac">Shiva Chaturvedi</a>, <a href="https://github.ccs.neu.edu/ana">Ana Cunha</a>, <a href="https://github.ccs.neu.edu/nhrshm10">Niharika Sharma</a>, and <a href="https://github.ccs.neu.edu/apsmith">Adam Smith</a>.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",    about_path %></li>
      <li><%= link_to "Contact",  contact_path %></li>
    </ul>
  </nav>
</footer>